/******************* Modal ******************/
.frontend-app {
  .modal-header {
    border: 0;
    color: rgba(255, 255 ,255 ,1);

    img {
      width: 100px;

      &.mid {
        width: 48px;
      }
    }
  }

  .modal-content {
    border: 0;
    background-color: rgba(70, 78, 78, 1);
    color: rgba(255, 255, 255, 1);
  }

  .modal-footer {
    border: 0;
    padding: 0;

    .btn {
      margin-bottom: 20px;
    }
  }
}
/******************* Modal ******************/
/******************* Forms ******************/
.form-control {
  background-color: rgba(217, 223, 232, 1);
  border: 0;
}

.input-group-text {
  background-color: rgba(217, 223, 232, 1);
  padding-top: 0;
  padding-bottom: 0;
}
/******************* Forms ******************/
