input[type=text] {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #e4e4e4;

  &:focus {
    border: 1px solid #000;
    background-color: #fff;
  }
}

.input-icon {
  position: relative;

  input[type=text] {
    padding-left: 32px;

    &:focus + i {
      color: dodgerBlue;
    }
  }

  i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
  }
}

// <div class="input-icon">
//   <input type="text" placeholder="Your name">
//   <i class="fa fa-lock fa-lg fa-fw"></i>
// </div>
