.subnavbar {
  @extend .navbar;
  height: 2.5em;
  background-color: #28a745 !important;

  .navbar-brand {
    margin: 0;
    padding-right: 0.75em;
    padding-left: 0.75em;
    color: #fff;

    &:hover {
      color: #000000;
      background-color: #aee6ba;
    }

    &.active {
      color: #000000;
      background-color: #fff;
    }
  }

  .nav-item {
    .nav-link {
      padding-right: 0.75em;
      padding-left: 0.75em;
      color: #fff;

      &:hover {
        color: #000000;
        background-color: #aee6ba;
      }

      &:focus {
        color: #000000;
        background-color: #fff;

        &.no-focus {
          color: #fff;
          background-color: #28a745 !important;
          outline: none;
        }
      }
    }

    &.active {
      .nav-link {
        color: #000000;
        background-color: #fff;
      }
    }
  }
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
}
